<p>articles works!</p>
<h5>{{titre}} </h5>
<div>
     <div *ngFor="let article of listeArticles; let i=index">
            <!-- {{article |json}}  -->
            <h1>{{article.titre}} </h1>
            <h1>{{article.contenu}} </h1>
            <h1>{{article.auteur}} </h1>
            <h1>{{article.date}} </h1>

</div>
</div>
<form>
<fieldset> 
    <legend>Le championat du monde</legend>
    <h6>Auteur  Med TAHER</h6><br>
<h6>Date  05-02/2005</h6><br>
<h6>contenu  le champion du monde de cette année est:</h6>
</fieldset>
</form>